---
layout: layouts/home.njk
eleventyNavigation:
  key: Ana səhifə
  order: 1
---
{% set maxPosts = collections.posts.length | min(10) %}
{# <h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>  #}

{% <h3>özgə fikirlər</h3> %}

{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Daha çox yazı üçün <a href="{{ '/posts/' | url }}">arxivə</a> baxa bilərsiniz.</p>